@charset "UTF-8";
/* BASIC STYLE */
@import url(./inter-font/style.css);

@font-face {
    font-family: 'Monaco';
    font-style: normal;
    font-weight: normal;
    src: url('monaco-font/Monaco.woff') format('woff');
}

/* Les variables globales */
:root{
	--cspurple : #847894;
	--csred : #9c003c;
	--container-padding: 20px;
    --container-width: calc(100% - var(--container-padding) * 2);
    --container-max-width: 1370px;
}

* {
	margin: 0;
	padding: 0;
	line-height: 150%;
}

body{
	font-family:'Inter Regular',sans-serif;
	font-size: 20px !important;
}

a {
	color : var(--csred) !important ;
	text-decoration: none !important;
	font-size: inherit !important;
}

b {
	font-family: 'Inter Semi Bold' !important;
	font-size: inherit !important;
}

p {
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: inherit !important;
}

.container{
	width: var(--container-width);
    max-width: var(--container-max-width);
    margin-left: auto;
    margin-right: auto;
	font-size: inherit !important;
}

.section-form{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 30px 30px;	
}

.section-title{
	font-family: 'Inter Semi Bold' !important;
	font-size: 50px;
	color: #847894;
	text-transform: uppercase;
	text-align: center !important;
	margin-bottom: 20px;
}

.text-center{
	text-align: center !important;
}

.text-justify{
	text-align:justify !important;
}

.home-style-bottom{
	text-align: center;
	padding-top: 20px ;
	font-size: 20px !important;
}

.home-style-top{
	text-align: center;
	padding-bottom: 20px ;
	font-size: 20px !important;
}
/************************************************************/
/* MENU STYLE ***************************/
#nav-bar {
	background: #fff;
	position: sticky;
	top: 0;
	z-index: 10;
	box-shadow: 0 2px 20px #000;
}

#nav-bar a:hover {
	color:var(--csred)!important;
}

.navbar {
	background: #fff;
	display: flex;
	align-items: center;
	padding: 15px 0 15px 0;
}

.small-hero-user img {
	/* position: absolute; */
	border-style: solid;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border-color: var(--cspurple);
	text-align: center;
	border-width: 2px;
	/*margin-left: 20px;*/
}

#navbarNav .fa{
	margin-right: 5px;
}

.navbar-nav{
	display: flex;
	padding: 0 10px;
}

.navbar-nav a {
	float: right;
	text-align: left;
}

.nav-item{
	padding-left: 18px;
	padding-right: 18px;
}

.nav-link {
	color: var(--cspurple) !important;
	/*font-weight: 600;*/
	font-family: 'Inter Semi Bold' !important;
	font-size: 18px !important;
}

.nav-logos{
	margin-left: auto;
	margin-right: 20px;
	display: flex;
	float: right;
}

.navbar-brand img {
	height: 40px;
	width: auto;
	padding-left: 15px;
}
/************************************************************/
/* ********** HERO IMAGE & TEXT **********/
#hero-image {
	background-color: var(--cspurple);
}

#hero-image a{
	color:#c7bfd1 !important;
}

#hero-image .fa{
	padding-right: 8px;
}

.hero-image-grid{
	display: grid;
	grid-template-columns: 30% 70%;
	align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hero-user {
	/* position: absolute; */
	border-style: solid;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border-color: #FFF;
	text-align: center;
}

.hero-name{
	color: white;
	text-align: justify;
	font-family: 'Inter Semi Bold' !important;
	font-size: 36px;
	/*padding-top: 20px;*/
}

.hero-text {
	color: white;
	text-align: justify;
	padding-top: 10px;
	/*padding-bottom: 10px;*/
}

.hero-button{
	padding: 10px;	
	margin-right: 10px;
	border-style: solid;
	border-color: #c7bfd1 !important;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #c7bfd1 !important;
}

.hero-button-div{
	text-align: center;
	/*margin: 20px;*/
	margin-top: 40px;
	color: #c7bfd1 !important;
	text-align: right !important;
	padding-bottom: 20px;
}

/************************************************************/
/* My activities section ****/
#activities {
	background-color: #fff;
}

#activities .fa{
	margin-right: 8px;
}

.activities-grid{
	display:grid; 
	grid-template-columns: repeat(3,1fr);
	align-items: center;
}

.activity-image{
	width: 330px;
	height: 190px;
	background: #FFF;
	padding: 7px 7px 7px 7px;
}

.activity-botton{
	padding: 10px;	
	border-style: solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.activity-botton-div{
	text-align: center;
	margin: 30px;
}
/************************************************************/
/* LAST PUBLICATIONS */
#publications {
	background-color: #efefef;
}

.publication-title{
	font-family: 'Inter Semi Bold' !important;
}
/************************************************************/
/* FOOTER Section */
#footer {
	background-color: #333;
	color: #fff;
}

.footer-grid{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	align-items: start ;
}

.info-title{
	font-size: 22px !important;
	font-family: 'Inter Semi Bold' !important;
	text-transform: uppercase;
	padding-bottom: 20px;
}

.info_item{
    font-size: 18px !important;
	padding-top: 5px;
	padding-bottom: 5px;
}

#footer .fa{
	padding-right: 10px;
}

.footer-link {
	color:  #fff !important;
	font-size: 18px !important;
}

.fa-linkedin-square{
	font-size: 40px !important;
	color: #0e76a8;
}
.fa-twitter-square{
	font-size: 40px !important;
	color: #00acee;
}
.fa-facebook-square{
	font-size: 40px !important;
	color: #3b5998;
}
.fa-github-square{
	font-size: 40px !important;
	color: white;
}
.fa-youtube-square{
	font-size: 40px !important;
	color:  #c4302b;
}

/************************************************************/
/* Designed By Section */
#designed{
	background-color: #333;
	color: #fff;
}

#designed a {
	color: #00acee !important;
}
.designed{
	padding-top: 10px;
    text-align: center !important;
}

.designed::before {
	content: '';
	background: white;
	display: block;
	height: 1px;
	width: var(--container-max-width);
	margin-top: 20px ;
}

/************************************************************/
/* global title */
#global-title{
	background-color:#847894 ;
}

#global-title a{
	color:#c7bfd1 !important;
}

.title-container {
	padding-top: 60px;
	padding-bottom: 20px;
	color: #FFF;
	font-size: 35px;
	font-family: 'Inter Semi Bold' !important;
}

.title-menu{
	padding-top:  15px ;
	padding-bottom: 15px ;
	color:#FFF;
}

.title-menu span {
	float: right;
}
