body{
    background: #b5b4b4;
}

#canvas_container {
    width: 100%;
    height: 100%;
    max-width: 1500px;
    overflow: auto;
    border: solid 0px;
    margin-left: auto;
    margin-right: auto;
}

#current_page{
    position: fixed;
    bottom: 0px;
    left: 0px;
}