@charset "UTF-8";
/* BASIC STYLE */
@import url(../../../CSS/main-style.css);

@font-face {
    font-family: 'Monaco';
    font-style: normal;
    font-weight: normal;
    src: url('./monaco-font/Monaco.woff') format('woff');
}

ol, ul {
	margin-left: 25px !important;
}

pre code{
	font-family: 'Monaco' !important; 
    font-size: 0.95em !important;
    tab-size: 3;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
	padding-bottom: 5px !important;
	padding-top: 8px !important;
	padding-left: 10px !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

/*code{
	font-family: 'Monaco' !important; 
    font-size: 0.95em !important;
    color:coral !important;
}*/

.listing{
	font-family: 'Monaco' !important; 
    font-size: 0.95em !important;
	color:coral !important;
}

.default-block {
	border: solid;
	border-width: 3px;
	border-color: navy;
	background-color: rgb(218, 228, 250);
	padding: 15px 20px 10px 20px;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: left;
}

.alert-block {
	border: solid;
	border-width: 3px;
	border-color: red;
	background-color: rgb(250, 237, 237);
	padding: 15px 20px 10px 20px;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: left;
}

.green-block {
	border: solid;
	border-width: 3px;
	border-color: green;
	background-color: rgb(220, 245, 220);
	padding: 15px 20px 10px 20px;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: left;
}

#orange-block {
	border: solid;
	border-width: 5px;
	border-color: orangered;
	background-color: orange;
	padding: 10px;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 20px;
	text-align: left;
	font-weight: bold;
	font-size: 32px;
	font-family: 'Inter Semi Bold' !important;
	font-size: 32px;
}

/* ************************** */
/* listing */
/* ************************** */

.highlight pre{
    font-family: Monaco,Consolas,Lucida Console,monospace !important; 
    font-size: 0.9em;
    padding: 0.5em;
    background-color: #272822;
    color: #f8f8f2;
    tab-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    line-height: 1.5em;
    word-wrap: break-word;
    display: block;
}

/* 
.highlight pre:first-line {
    line-height: 0;
}
*/

.go,.o,.na,.nc{
    color: #fff ;
}
.p{
    color: #f8f8f2;
}
.k,.kd, .kc{
    color: #f92672 ;
}
.kt{
    color: #66d9ef;  
}
.nb,.nf {
    color: #a6e22e; 
}
.s2,.s{
    color: #e6db74;
}
.gp, .mi, .mf{
    color: #bf79db;
}
.nd, .c1, .cm{
    color: #75715e;
}
.nb,.kd,.nf,.nc{
    font-weight: bold ;
}

.kt{
    font-style: italic;
}

mjx-math{
	margin: -15px 0 !important;
}