@font-face {
    font-family: 'Monaco';
    font-style: normal;
    font-weight: normal;
    src: url('./monaco-font/Monaco.woff') format('woff');
}

#eb{
	tab-size: 2 !important ;
	padding: 0 !important;
	margin: 0 !important;
	box-shadow:none ;
}

.eb-code {
	display: block;
	position: relative;
	width: 90%;
	text-align: left;
	line-height: 1.2em;
	word-wrap: break-word;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
	margin-left: auto !important; 
	margin-right: auto !important;
	padding : 3px 10px !important;
	background-color: white;
}

#eb li{
	font-family: 'Monaco' !important;  
	list-style: none !important; 
	font-size: 25px !important;
}

.eb-cl, #eb b{
	color:red;
	font-weight: bold;
}

.eb-kw, #eb i{
	color:blue;
	font-weight: bold;
	font-style: normal !important;
}

.eb-cm, #eb u{
	color:green;
	text-decoration: none;
}

.eb-ev{
	color:green;
	font-weight: bold;
}

