@font-face {
    font-family: 'Monaco';
    font-style: normal;
    font-weight: normal;
    src: url('./monaco-font/Monaco.woff') format('woff');
}

:root {
	--r-main-font-size: 32px;
	--r-code-font: 'Monaco';
}

/* ****************************************************** */
/* main logo */
#logo{
	position: absolute;
	bottom: 30px;
	left: 30px;
	height: 10%;
	width : auto;
	opacity: 50%;
}

/* ****************************************************** */
/* general definitions */
.reveal .slides section,
.reveal .slides section > section  {
  line-height: 1.4;
  font-weight: inherit;
	width: 1120px !important;
	padding-left: 80px !important;
	padding-right: 80px !important;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
	font-size: 0.9em !important;
}

.reveal pre {
	font-size: 0.6em !important;
	line-height: 1.4em !important;
}

.reveal pre code {
	max-height: 580px !important;
	padding: 10px 15px 10px 15px !important;
}

.reveal b{
  color: var(--r-link-color);
	font-weight: bold !important; 
}

.reveal i{
  color: var(--r-link-color);
}

.reveal em{
  color: var(--r-link-color);
	font-style: italic !important;
}

/* ****************************************************** */
/* added tags styles */
.reveal cs-i{
	margin:0;
	padding:0;
	border:0;
	color:coral !important;
	text-transform: none !important;
}

.reveal cs-code{
	margin:0;
	padding:0;
	border:0;
	font-family: var(--r-code-font);
	font-size: 0.85em !important;
  color:coral !important;
	text-transform: none !important;
}

.reveal red-b{
	color: red;
	font-weight: bold; 
}

.reveal green-b{
	color: green;
	font-weight: bold; 
}

.reveal red-i{
	color: red;
}

.reveal green-i{
	color: green;
}

/* ****************************************************** */
/* custom class definitions */
.listing{
  font-size: 0.85em !important;
  color:coral !important;
}

.skip{
	margin-top: 25px !important;
}

.d-skip{
	margin-top: 50px !important;
}

.left-content{
	text-align: left !important;
	display: inline-block !important;
}

.center-content{
	text-align: center;
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.center-divs{
	display: flex !important;
	margin-left: auto !important;
	margin-right: auto !important;
	flex-direction: row;
	justify-content: center;
	align-content: flex-start;
	align-items: center;
}

.start-divs{
	display: flex !important;
	margin-left: auto !important;
	margin-right: auto !important;
	flex-direction: row;
	justify-content: center;
	align-content: flex-start;
	align-items: start;
}

/* ****************************************************** */
/* personnal item definitions */
#fleche li{
	list-style: none !important; 
}

#fleche li::before{
	content: '\27A0';
	display: inline-block;
	color: var(--r-link-color);
	height: 1.0em;
	width: 1.2em;
	margin-left: -1.2em;
}

#ok li{
	list-style: none; 
}

#ok li::before {
	content: '\2714';
	display: inline-block;
	color: green;
	height: 1.0em;
	width: 1.2em;
	margin-left: -1.2em; 	
}

#ko li{
	list-style: none !important; 
}

#ko li::before {
	content: '\2718';
	display: inline-block;
	color: red;
	height: 1.0em;
	width: 1.1em;
	margin-left: -1.1em; 	
}

/* ****************************************************** */
/* block definitions */
.box{
	border-width: 5px;
	border: solid; 
	align-items: center !important;
	margin-top: auto !important;
	margin-bottom: auto !important;
}

#default-block {
	border: solid;
	border-width: 5px;
	border-color: navy;
	background-color: rgb(218, 228, 250);
	padding: 20px;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto; 
	margin-right: auto;
	text-align: left;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
	color:black;
}

#default-block b{
	color: navy ; 
	font-weight: bold !important; 
}

#default-block i{
  color: navy !important; 
}

#default-block em{
  color: navy ;
	font-style: italic !important;
}

#alert-block {
	border: solid;
	border-width: 5px;
	border-color: red;
	background-color: rgb(250, 237, 237);
	padding: 20px;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto; 
	margin-right: auto;
	text-align: left;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
	color:black;
}

#alert-block b{
	color: red ; 
	font-weight: bold !important; 
}

#alert-block i{
  color: red !important; 
}

#alert-block em{
  color: red ;
	font-style: italic !important;
}

#green-block {
	border: solid;
	border-width: 5px;
	border-color: green;
	background-color: rgb(220, 245, 220);
	padding: 20px;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto; 
	margin-right: auto;
	text-align: left;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
	color:black;
}

#green-block b{
	color: green ; 
	font-weight: bold !important; 
}

#green-block i{
  color: green !important; 
}

#green-block em{
  color: green ;
	font-style: italic !important;
}

/* ****************************************************** */
/* main page style */

.description{
	font-size: 18px;
	text-align: left !important;
	margin-top: 30px;
}

.hero-card-id{
	margin-top: 40px;
	display: flex; 
	align-items: center; 
}

.hero-user {
	border-style: solid;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border-color: var(--r-main-color);
	text-align: center;
	border-width: 1px;
}

.hero-desc{
	text-align: left; 
	margin-left: 10px;
	line-height: 0.65;
}

.hero-name{
	font-size:27px;
}

.hero-email{
	font-size:20px;
}

/* ****************************************************** */
/* menu style */
.outline{
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.item{
	position: relative;
	list-style: none;
	display: table;
	margin: 10px 30px;
	padding-left: 50px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 5px;
}
.item::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	background: var(--r-link-color);
	border-radius: 50px;
	box-sizing: border-box;
}
.item a{
	position: relative;
	z-index: 10;
	padding: 5px 10px ;
}

.item::after{
	content: '';
	position: absolute;
	top: 15px;
	left: 10px;
	width: 15px;
	height: 15px;
	border-top: 5px solid #fff;
	border-right: 5px solid #fff;
	transform: rotate(45deg);
}

.actif-item::before{
	width: 100%;
	background: var(--r-link-color);
}

.actif-item a{
	color: white !important;
}